# Postgres
POSTGRES_ADMIN_USER=postgres
POSTGRES_ADMIN_PASSWORD=postgres
POSTGRES_DEFAULT_DB=postgres
POSTGRES_AIRFLOW_PASSWORD=airflow
POSTGRES_EXPORTER_USER=postgres_exporter
POSTGRES_EXPORTER_PASSWORD=postgres_exporter

# MinIO (S3-compatible)
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_DEFAULT_BUCKET=rescue-artifacts

# Airflow UI
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_ADMIN_EMAIL=admin@example.com

# Grafana UI
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
